<div class="row">
  <div class="span12">
    <h1 class="page-header"><%= @team.name %> - Statistics</h1>
  </div>
</div>
<div class="row">
  <div class="span12">
    <table class="table table-striped">
      <thead>
        <th>Player</th>
        <th>Goals</th>
        <th>Assists</th>
        <th>Wins</th>
        <th>Shutouts</th>
        <th>Total</th>
      </thead>
      <% @team.players.each do |player| %>
        <tr>
          <td><%= link_to player.name, player %></td>
          <td><%= player.goals.to_s %></td>
          <td><%= player.assists.to_s %></td>
          <% if player.goalie? %>
            <td><%= player.wins.to_s %></td>
            <td><%= player.shutouts.to_s %></td>
          <% else %>
            <td>&ndash;</td>
            <td>&ndash;</td>
          <% end %>
          <td><%= player.points.to_s %></td>
        </tr>
      <% end %>
    </table> 
    <%= link_to_function "Back", "history.back()", :class => 'btn' %>
  </div>
</div>
