<div class="hero-unit">
  <h1><%= @welcome_title %></h1>
  <p><%= @welcome_message.html_safe %></p>
  <p><%= @welcome_link %></p>  
</div>

<div class="row">
  <div class="span4">
    <h2>Prizes</h2>
     <p><%= @prize_money.html_safe %></p>
  </div>
  <div class="span4">
    <h2>Updates</h2>
    <p><%= @updates %></p>
 </div>
  <div class="span4">
    <h2>Injuries</h2>
    <p><%= @injuries %></p>
  </div>
</div>
