<div class="hero-unit">
  <% if @pool_status == 'accepting_entries' %>
    <h1>The playoffs are back!</h1>
    <p>Welcome to the <%= Time.now.year %> NHL Playoff Pool. All entries must be submitted 
    online before <%= Time.parse(ENV['SUBMISSION_DEADLINE']).in_time_zone('Eastern Time (US & Canada)').strftime("%B %-d, %Y at %l:%M %p")%> 
    through this website.  The submission of entries past that time are blocked from processing, 
    so please do not leave it until the last minute to submit.  When completing the entry you must 
    ensure that you have made arrangements for your entry fee to be paid.  If not, your name and 
    entry will be removed from the pool.</p>
    <p><%= link_to "Submit Entry &raquo;".html_safe, new_entrant_path, :class => 'btn btn-primary btn-large' %></p>
  <% elsif @pool_status == 'validating_entries' %>
    <h1>Entry period has closed.</h1>
    <p>We will now be validating all entries.  Feel free to browse the site and see other people's picks.  Once NHL.com begins updating playoff statistics, you'll see the <%= link_to "rankings page", entrants_path %> updated.</p>
  <% elsif @pool_status == 'pool_active' %>
    <h1>Good luck!</h1>
    <p>Thanks for entering the playoff pool for 2014 and good luck to everyone.</p>
    <p><%= link_to "View Rankings &raquo;".html_safe, entrants_path, :class => 'btn btn-primary btn-large' %></p>
  <% elsif @pool_status == 'validating_winners' %>

  <% elsif @pool_status == 'pool_finished' %>

  <% end %>
</div>

<div class="row">
  <div class="span4">
    <h2>Prizes</h2>
     <p>Prizes are dependent on the amount of entries in the pool.  They will be announced once
     all entries have been validated and paid for.</p>
  </div>
  <div class="span4">
    <h2>Updates</h2>
    <p>The site will pull updates from NHL.com daily at 5 AM for all players.  
    If you see any inconsistencies with points, please contact me.
    Please note stats and rankings will be published as soon as NHL.com begins reporting them.</p>
 </div>
  <div class="span4">
    <h2>Injuries</h2>
    <p>We have removed <%= @injuries.join(", ") %> from the available pool of players due to injuries.  However, we suggest you double check the status of all your picks before submitting.</p>
  </div>
</div>
