  <%= render 'shared/error_messages', :object => @entrant %>
  <div class="row">
    <div class="span8">
      <h1 class="page-header">Submit Entry</h1>
      <p>Each entry costs $20 and you may submit multiple entries.  To submit, follow the requirements guide on the right hand side of this page.  As you complete requirements, they will be marked in green.  Once all requirements are satisfied, you will be able to submit your entry.  In the pool, players earn one point per goal and one point per assist.  Goaltenders by team earn two points for the win and two points per shutout, plus one point per goal or assist.</p>
      <p>For your goalie pick, any goalie that plays for that team during the playoffs will have their respective points counted for your picks.  The mulligan man column is the only pick that breaks the "one player per team" rule.  You can pick this player from any team that you'd like, except where you have chosen the goalie.</p>
      <p>For a more exhaustive submission guideline, please <%= link_to "read this guide", guide_path %>.</p>
    </div>
    <div class="span4">
      <h3 class="page-header">Requirements</h3>
      <ul id="requirements">
        <li id="one-player-per-team">One player per team team</li>
        <li id="three-players-per-col1">Three players from column 1</li>
        <li id="three-players-per-col2">Three players from column 2</li>
        <li id="three-players-per-col3">Three players from column 3</li>
        <li id="three-players-per-col4">Three players from column 4</li>
        <li id="three-players-per-col5">Three players from column 5</li>
        <li id="one-goalie">One goalie</li>
        <li id="one-mulligan-man">One mulligan man (any team except where goalie chosen)</li>
      </ul>
      <!--<div class="progress progress-striped active" style="width:300px;">
        <div id="progress" class="bar" style="width:0%;"></div>
      </div>-->      
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <%= form_for @entrant, :html => { :class => "form-horizontal" } do |f| %>
        <fieldset>
          <legend>Choose your players:</legend>
        <table class="table table-striped" id="player_selection">
          <thead>
            <th>Team</th>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
            <th>Column 4</th>
            <th>Column 5</th>
            <th>Mulligan Man</th>
            <th>Goalie</th>
          </thead>
          <% Team.all.select{|team| team.players.count > 0}.sort_by{|team| team["name"]}.each do |team| %>
            <tr>
              <td><strong><%= team.name %></strong></td>
              <% team.players.each_with_index do |player, index| %>
                <td>
                  <label class="checkbox"><%= check_box_tag :player_ids, player.id, false, :name => 'entrant[player_ids][]', 
                  'data-team' => team.name, 'data-type' => player_type(index) %><%= player.name + " (#{player.season_points})" %></label>
                </td>
              <% end %>
            </tr>
          <% end %>
        </table>
          <div class="control-group">
            <%= f.label :name, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :name, :class => 'input-xlarge' %>
              <p class="help-block">Displayed publicly in the rankings list.</p>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :email, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :email, :class => 'input-xlarge' %>
              <p class="help-block">To contact you if necessary, never publicly displayed or shared.</p>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :company, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :company, :class => 'input-xlarge' %>
              <p class="help-block">For reporting purposes only, i.e. to see who is doing the best from a certain company.  Publicly displayed.</p>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.submit "Submit Entry", :disabled => true, :class => 'btn btn-primary btn-large' %>
            </div>
          </div>        
        </fieldset>
      <% end %>
    </div>
  </div>