<%= form_for @entrant do |f| %>
<%= render 'shared/error_messages', :object => @entrant %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :company %>
    <%= f.text_field :company %>
  </div>
  <%= field_set_tag 'Player Selection' do %>
    <table id="player_selection">
      <tr>
        <th>Team</th><th>Column 1</th><th>Column 2</th><th>Column 3</th><th>Column 4</th><th>Column 5</th>
        <th>Mulligan Man</th><th>Goalie</th>
      </tr>
      <% Team.all.select{|team| team.players.count > 0}.sort_by{|team| team["name"]}.each do |team| %>
        <tr>
          <td style="white-space: nowrap"><strong><%= team.name %></strong></td>
          <% team.players.each_with_index do |player, index| %>
            <td style="white-space: nowrap">
              <%= check_box_tag :player_ids, player.id, false, :name => 'entrant[player_ids][]', 
              'data-team' => team.name, 'data-type' => player_type(index) %>
              <%= label_tag :player_ids, player.name + " (#{player.season_points})" %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>
  <p>Requirements:</p>
  <ul id="requirements">
    <li id="onePlayerPerTeam">One player per team team</li>
    <li>Three players from column 1</li>
    <li>Three players from column 2</li>
    <li>Three players from column 3</li>
    <li>Three players from column 4</li>
    <li>Three players from column 5</li>
    <li>One goalie</li>
    <li>One mulligan man (any team except where goalie chosen)</li>
  </ul>
  <div>
    <%= f.submit "Register" %>
  </div>  
<% end %>