  <div class="row">
    <div class="span8">
      <h1 class="page-header">Submit Entry</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sodales suscipit neque ac varius. Aenean posuere, nisi eget commodo rhoncus, dui odio interdum ipsum, id consequat nulla leo non quam. Ut vitae enim ut purus egestas scelerisque sed ut massa. Morbi viverra, dui a lobortis euismod, nisl risus ultricies ante, in molestie velit magna nec neque.</p>
    </div>
    <div class="span4">
      <h3 class="page-header">Requirements</h3>
      <ul id="requirements">
        <li id="one-player-per-team">One player per team team</li>
        <li id="three-players-per-col1">Three players from column 1</li>
        <li id="three-players-per-col2">Three players from column 2</li>
        <li id="three-players-per-col3">Three players from column 3</li>
        <li id="three-players-per-col4">Three players from column 4</li>
        <li id="three-players-per-col5">Three players from column 5</li>
        <li id="one-goalie">One goalie</li>
        <li id="one-mulligan-man">One mulligan man (any team except where goalie chosen)</li>
      </ul>
      <!--<div class="progress progress-striped active" style="width:300px;">
        <div id="progress" class="bar" style="width:0%;"></div>
      </div>-->      
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <%= form_for @entrant, :html => { :class => "form-horizontal" } do |f| %>
        <fieldset>
          <legend>Choose your players:</legend>
        <table class="table table-striped" id="player_selection">
          <thead>
            <th>Team</th>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
            <th>Column 4</th>
            <th>Column 5</th>
            <th>Mulligan Man</th>
            <th>Goalie</th>
          </thead>
          <% Team.all.select{|team| team.players.count > 0}.sort_by{|team| team["name"]}.each do |team| %>
            <tr>
              <td><strong><%= team.name %></strong></td>
              <% team.players.each_with_index do |player, index| %>
                <td>
                  <label class="checkbox"><%= check_box_tag :player_ids, player.id, false, :name => 'entrant[player_ids][]', 
                  'data-team' => team.name, 'data-type' => player_type(index) %><%= player.name + " (#{player.season_points})" %></label>
                </td>
              <% end %>
            </tr>
          <% end %>
        </table>
          <div class="control-group">
            <%= f.label :name, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :name, :class => 'input-xlarge' %>
              <p class="help-block">Will be displayed publicly in the rankings list.</p>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :email, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :email, :class => 'input-xlarge' %>
              <p class="help-block">Never publicly displayed or shared.</p>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :company, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :company, :class => 'input-xlarge' %>
              <p class="help-block">Never publicly displayed or shared.</p>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.submit "Submit Entry", :disabled => true, :class => 'btn btn-primary btn-large' %>
            </div>
          </div>        
        </fieldset>
      <% end %>
    </div>
  </div>