<div class="row">
  <div class="span12">
    <h1 class="page-header"><%= @entrant.name %> (<%= @entrant.points %> points)</h1>
  </div>
</div>
<div class="row">
  <div class="span12">
    <table class="table table-striped">
      <thead>
        <th>Team</th>
        <th>Player</th>
        <th>Goals</th>
        <th>Assists</th>
        <th>Wins</th>
        <th>Shutouts</th>
        <th>Total</th>
      </thead>
      <% @entrant.players.sort_by{|p| p.team.name}.each do |player| %>
        <tr>
          <td><%= link_to player.team.name, player.team %></td>
          <td><%= link_to player.name, player %></td>
          <td><%= player.goals.to_s %></td>
          <td><%= player.assists.to_s %></td>
          <% if player.goalie? %>
            <td><%= player.wins.to_s %></td>
            <td><%= player.shutouts.to_s %></td>
          <% else %>
            <td>&ndash;</td>
            <td>&ndash;</td>
          <% end %>
          <td><%= player.points.to_s %></td>
        </tr>
      <% end %>
    </table>     
    <hr />
    <h3 style="margin-bottom:10px;">Rankings Over Time</h3>
    <div id="rankings_chart" style="width: 100%; height: 350px;"></div>
    <%= link_to_function "Back", "history.back()", :class => 'btn' %>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function() {
    new Highcharts.Chart({
      chart: { renderTo: 'rankings_chart' },
      title: { text: null },
      xAxis: {
        type: 'datetime'
      },
      yAxis: {
        min: 1,
        max: <%= Entrant.count %>,
        title: { text: 'Rank'},
        allowDecimals: false,
        reversed: true
      },
      tooltip: {
        formatter: function () {
          return Highcharts.dateFormat("%B %e %Y", this.x) + ': ' + this.y;
        }
      },    
      series: [{
        showInLegend: false,
        pointInterval: <%= 1.day * 1000 %>,
        pointStart: <%= (Time.parse(ENV['SUBMISSION_DEADLINE']).in_time_zone('Eastern Time (US & Canada)') + 1.day).to_i * 1000 %>,
        data: <%= @entrant.rankings.sort_by{|e| e["date"]}.collect{|e| e["rank"]}.inspect %>
      }]
    });  
  });

</script>